/* WORK IN PROGRESS!
   (c) NAVDAA Sodtware 2023 */

body {
   background-color: rgb(34, 37, 46);
   color: rgb(213, 214, 244);
   font-family: 'Fira Code', monospace;
   margin: 0;
   padding: 0;
 }
 
 .container {
   display: flex;
 }
 
 .left-half {
   width: 50%;
   background-image: url(https://cdn-sote-image.navdaa.site/assets/img/bg-v1/bg-img-1.png);
   background-size: cover;
   background-position: center;
 }
 
 .right-half {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: left;
   background-color: #ffffff; /* Set your desired background color */
 }
 
 .content {
   padding: 20px;
 }